body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #565E76;
  color: #ffffff;
  text-align: center;
}

div.background {
  position: absolute;
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  background-size: cover;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
  margin: 0px -30px 0px 0px;
}

div.overlay {
  position: absolute;
  background-color: #565E76;
  top: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .88;
}

ul.contact {
  margin-top: 48px;
  margin-left: 920px;
  width: 300px;
}

ul.contact li {
  display: inline;
  margin: 0px 10px;
  font-size: 13pt;
}

ul.contact li a {
  text-decoration: none;
  color: #ffffff;
}

img.logo {
  width: 240px;
  margin: 15px 40.5% 0px 40.5%;
}

h1 {
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 50px;
  margin: 37px auto;
  width: 90%;
}

div.promo {
  font-weight: lighter;
  font-size: 14px;
  color: #c6c6c6;
}

button.demo {
  margin-top: 50px;
  height: 50px;
  width: 200px;
  background-color: #5373DA;
  font-size: 16px;
  color: #ffffff;
  border-style: solid;
  border-radius: 30px;
  border-color: #5373DA;
  cursor: pointer;
}
