body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #565E76;
  color: #ffffff;
}

img.phone {
  width: 14px;
  height: 14px;
}

ul.contact {
  text-align: center;
  margin-top: 48px;
  margin-left: 920px;
  width: 300px;
}

ul.contact li {
  display: inline;
  margin: 0px 10px;
  font-size: 13pt;
}

ul.contact li a {
  text-decoration: none;
  color: #ffffff;
}

img.logo {
  width: 240px;
  margin: 15px 40.5% 0px 40.5%;
}
